<html ng-app="CarMakes" >

  <body ng-controller="MainCtrl as ctrl">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">

    <script src="/JimAndMongoAndSpringAndAngular/static/js/app.js"></script>

    <div style="background-color:LightGrey;color:black;padding:20px;">
      <input type="button" value="Save" ng-click="ctrl.save();">
      <br>
      <input type="button" value="Search" ng-click="ctrl.showDialog();">
    </div>

    <div style="background-color:white;color:white;padding:20px;">
    </div>
    
    <div style="background-color:LightGrey;color:black;padding:20px;" ng-repeat="thisMake in ctrl.openMakes" >
      <div make-widget></div>
    </div>
    
  </body>
  
</html>
